<footer class="footer">
    <div class=" container-fluid ">
      <nav>
        <ul>
          <li>
            <a href="/" class="<%if(now == 'index'){%>bluey<%}%>">
              儀表板
            </a>
          </li>
          <li>
            <a href="/manage/" class="<%if(now == 'manage'){%>bluey<%}%>">
              管理伺服器
            </a>
          </li>
          <li>
            <% if(themeConfig.commands.href){%><a href="<%-themeConfig.commands.href%>" class="<%if(now == 'commands'){%>bluey<%}%>"><% } else{ %><a href="/commands"  class="<%if(now == 'commands'){%>bluey<%}%>"><% } %>
              指令
            </a>
          </li>
          <li>
            <a href="/privacy-policy/" class="<%if(now == 'pp'){%>bluey<%}%>">
              隱私政策
            </a>
          </li>
          <div class="copyright" id="copyright">
            &copy;
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Created by <a href='<%=themeConfig.information.websiteUrl%>' target="_blank" class="bluey"><%=themeConfig.information.createdBy%></a>
          </div>
        </ul>
        
      </nav>
     
    </div>
  </footer>